.titleGlobal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleText {
    min-width: 50px;
    background-color: blue;
    border-bottom: 1px solid #000;
}

.textTitle {
    margin: 0;
}

.lineGlobal {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
    align-items: center;
}