.titleGlobal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleText {
    min-width: 50px;
    border-bottom: 3px solid #31293F;
    padding: 0 1em 0 1em ;
}

.textTitle {
    color: #7667b8;
    margin: 0;
    letter-spacing: 2px;
}